{% comment %}

    For image items, a zoomable, full screen gallery view is added using lightGallery.
    Ensure dependencies are added by including `gallery: true` in the layout front matter calling this include.

{%- endcomment -%}
<div id="lightgallery">
    <div class="gallery-img" data-src="{{ page.object_location | relative_url }}">
        <p><img src="{{ page.image_small | relative_url }}" alt="item thumbnail for {{ page.title | escape }}" class="img-fluid {% if page.sensitive %}blur{% endif %}"></p>
        {% if page.sensitive %}<p class="text-danger small">Warning: This image is of a graphic nature and may be upsetting to some viewers. Clicking the image will present a large, clear version of the image.</p>{% endif %}
        <p><small>Click to view full screen</small></p>
    </div>
</div>