<!-- Optional JS for Bootstrap: jQuery first, then Bootstrap bundle JS -->
<script src="{{ '/js/jquery-latest.min.js' | prepend: site.digital-assets }}"></script>
<script src="{{ '/js/bootstrap.bundle.min.js' | prepend: site.digital-assets }}"></script>
<!-- load other js -->
<script src="{{ '/js/lazysizes.min.js' | prepend: site.digital-assets }}" async></script>
{% if layout.gallery == true or page.gallery == true %}{% include js/gallery-js.html %}{% endif %}
{% if page.custom-foot or layout.custom-foot %}
{%- assign page_feet = page.custom-foot | split: ";" -%}
{%- assign layout_feet = layout.custom-foot | split: ";" -%}
{%- assign feet = page_feet | concat: layout_feet -%}
{% for f in feet %}{% include {{ f }} %}
{% endfor %}
{%- endif -%}
