---
# Default home page with boxes providing collection stats
layout: page
---
{%- assign items = site.data[site.metadata] | where_exp: 'item','item.objectid' -%}
<div class="row">
  <div class="col-md-12 mb-4">

    {% include feature/timelinejs.html %}
    
  </div>
  <div class="col-md-4">  

    {% include index/time.html %}

  </div>
  <div class="col-md-4">  

    {% include index/featured-terms.html featured="deaths; hospitals; quarantine; Student Army Training Corps (SATC); patients" title="Top Subjects" btn-color="info" %}

  </div>
  <div class="col-md-4">  
    
    {% include index/objects.html %}

  </div>
  <div class="col-md-12">

    {% include index/data-download.html %}

  </div>

</div>